.logo, .img01{
    height: 150px;
    width: 150px;
}
.logo{
    margin: 15px 350px 0 auto;
}
body{
    background-color: #d3d3d3;
}
.body{
    width: 1000px;
    height: 850px;
    border: double 5px #000000;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}
li{
    display: inline;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 20px;
}
.nav{
    margin: 0 auto 0 auto;
    width: 70%;
    height: 7%;
    border-top: solid 3px #000000;
    border-bottom: solid 1px #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
